body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.block1{
    width: 25%;
    height: 100%;
    background-color: orange;
    padding: 10px;
}

.block2{
    width: 25%;
    height: 100%;
    background-color: greenyellow;
    padding: 10px;
}

.block3{
    width: 25%;
    height: 100%;
    background-color: white;
    padding: 10px;
}

.block4{
    width: 25%;
    height: 100%;
    background-color: aquamarine;
    padding: 10px;
}

.block1 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block1 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block2 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block2 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block3 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block3 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block4 li{
    background-color: blanchedalmond;
    line-height: 2em;
    margin-top: 10px;
    border-radius: 3em;
    width: 60%;
    padding-left: 10px;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "\2705";
}

.block4 li:hover{
    background-color: brown;
    color: white;
    list-style-type: "\274C";
    width: 70%;
    height: 70px;
}

.block1{
    background-image: conic-gradient(at 60% 45%, rgb(146, 35, 97), yellow, rgb(15, 0, 128));
}

.block2{
    background: repeating-linear-gradient(-45deg, #de9dd4, #de9dd4 5px, white 5px, white 10px);
}

.block3{
    background: repeating-radial-gradient(#b8e7bf, #0602e4 5px, white 5px, red 10px);
}

.block4{
    background: repeating-conic-gradient( red 0%,  yellow 15%, blue 33% );
}
.nav{
    position: sticky;
    top: 0;
}
.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    font-size: 20px;
    width: 100%;
    border: 2px solid white;
    text-align: center;
    overflow: hidden;
}

.nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    float: left;
}

.nav a:hover{
    background-color: antiquewhite;
    color: black;
}

.block5{
    width: 100%;
    height: 300px;
    padding: 50px;
    background-color: yellow;
}


.btn1{
    width: 300px;
    height: 70px;
    background-color: brown;
    color: white;
    padding: 20px 30px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    border: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 0px 100px black;
    cursor: pointer;
}

.btn1:hover{
    background-color: brown;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 0px 0px black;
}

.btn1:active{
    background-color: greenyellow;
    color: yellow;
}